<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Tech University</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'Courses', root_path %></li>
          <li><%= link_to 'Enrollments', '#' %></li>
          <li><%= link_to 'Account', '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>